/* scorllbar start */

::-webkit-scrollbar {
	width: 10px;
	margin-top: 28px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background: #555; 
  }
/* scorllbar end*/

/* Toast Message Start */
#message {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: rgb(26, 138, 30);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 9999999;
	left: 10%;
	bottom: 35px;
	font-size: 17px;
  }
  
  #message.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
/* Toast Message End */

/* LeftSidebar Expand Start */

  
  .sidebar-left {
	color: #fff;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  #leftSidebar div {
    border: 1px solid blue;
	}
  
  .sidebar-left a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar-left a:hover {
	color: #f1f1f1;
  }
  
  .sidebar-left .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	/* padding: 16px; */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar-left {padding-top: 15px;}
	.sidebar-left a {font-size: 18px;}
  }
/* LeftSidebar Expand End */
/* Paragraph Bar area Start */
#paraArea {
	color: #fff;
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 28px;
  }
  #paraArea div {
	float: left;
	padding: 0 10px;
    border: 1px solid blue;
	}
  
  .paraArea a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .paraArea a:hover {
	color: #f1f1f1;
  }
  
/* Paragraph Bar area End */

.sidebar-top {
	background-color: #555;
	width: 100%;
	height: 28px;
	overflow: auto;
	top: 0px;
	position: fixed;
	z-index: 1000;
}

.sidebar-top a {
	float: left;
	display: block;
	width: 48px;
	text-align: center;
	padding: 2px 0;
	--transition: all 0.3s ease;
	color: grey;
	font-size: 16px;
}

.sidebar-bottom {
	background-color: #555;
	width: 100%;
	height: 28px;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	z-index: 1000;
}

.sidebar-bottom a {
	float: left;
	display: block;
	width: 48px;
	text-align: center;
	padding: 2px 0;
	--transition: all 0.3s ease;
	color: grey;
	font-size: 16px;
}

.sidebar-top a:hover,
.sidebar-bottom a:hover {
	background-color: #000;
	color: white;
}

.sidebar-top .active,
.sidebar-bottom .active {
	background-color: #4CAF50;
	color: white;
}

.editor-container {
	margin-top: 28px;	
	position: relative;
	height: calc(100% - 28px);
	padding: 20px;

}

.visual-editor {
	margin-top: 28px;
	font-size: 16px;
	visibility: hidden;
}



.html-editor {
	visibility: hidden;
	margin-top: 28px;
}

.css-editor {
	visibility: hidden;
	margin-top: 28px;
}

.js-editor {
	visibility: hidden;
	margin-top: 28px;
}


.dropdown-menu a:hover{
	background-color: #eee;
}
